.banner { width:100%; height:160vh; background-image: linear-gradient(rgba(0,0,0,0.85),
rgba(0,0,0,0.85)),url("background.png"); background-size: cover; background-position:
center;}.bio { text-align: center; font-family: 'Times New Roman'; color: white;
font-weight: bold; } hr { border-style: dotted none none; border-color: grey; border-width:
5px; height: 0px; width: 5%; } h3 { color: yellow; font-weight: bold;font-family:
'Times New Roman'; } h1 { color: yellow; font-weight: bold; font-family: 'Times
New Roman'; } h2 { color: yellow; font-weight: bold; font-family: 'Times New Roman';
} img { position: relative; left: 40px; top: 20px; width: 60%; height: 50%; } img:hover
{ background-color: gold; } a:hover{ background-color: yellow; } a:visited {color:
blue;} a { font-weight: bold; } ul { color: white; text-align: center-left; font-family:
'Times New Roman'; font-weight: bold;} ol {color: yellow;font-weight: bold;font-family:
'Times New Roman'; } p { color: white; text-align: center-left; font-family: 'Times
New Roman';font-weight: bold; } .home{ color: yellow; font-weight: bold; font-family:
'Times New Roman'; } .done { color: white; text-align: center-left; font-family:
'Times New Roman'; font-weight: bold; } .nav {color: white; text-align: justify;
font-family: 'Times New Roman' } .undone { color: white; text-align: center-left;
font-family: 'Times New Roman'; font-weight: bold; }


<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->

<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->